:root {
    --primary-color: #003d5b;      
    --secondary-color: #30638e;    
    --deep-blue: #264653;          /* Sky Gray Blue */
    --light-bg: #c2d4e4;           /* Cream White */
    --dark-text: #2B2B2B;          /* Slate Black */
  }
  
  body, html {
    height: 100%;
  }

  .bg-primary-custom {
    background-color: var(--primary-color) !important;
    color: white;
  }

  .bg-secondary-custom {
    background-color: var(--secondary-color) !important;
  }

  .bg-light-custom {
    background-color: var(--light-bg) !important;
  }

  .bg-deep-blue {
    background-color: var(--deep-blue) !important;
    color: white;
  }

  .text-dark-custom {
    color: var(--dark-text) !important;
  }


  /* Footer styling */
  .footer-bg {
    background-color: var(--deep-blue);
    color: white;
  }

  .text-secondary-custom{
    color: var(--secondary-color) !important;
  }

  

  .hero {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 1rem;
    border: 1px solid var(--primary-color); /* added border color */
  
  }


  .hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .hero img {
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }

  .description {
    margin-top: 1rem;
  }

  footer {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    border-top: 1px solid #e5e7eb;
  }

  p{
    line-height: 2;
  }

  .image-fixed {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }