:root {
    --primary-color: #003d5b;      
    --secondary-color: #30638e;    
    --deep-blue: #264653;          
    --light-bg: #c2d4e4;       
    --dark-text: #2B2B2B;     
  }
  
  body, html {
    height: 100%;
  }

  .bg-primary-custom {
    background-color: var(--primary-color) !important;
    color: white;
  }

  .bg-secondary-custom {
    background-color: var(--secondary-color) !important;
  }

  .bg-light-custom {
    background-color: var(--light-bg) !important;
  }

  .bg-deep-blue {
    background-color: var(--deep-blue) !important;
    color: white;
  }

  .text-dark-custom {
    color: var(--dark-text) !important;
  }


  /* Footer styling */
  .footer-bg {
    background-color: var(--deep-blue);
    color: white;
  }

  .text-secondary-custom{
    color: var(--secondary-color) !important;
  }

  

  .hero {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 1rem;
    border: 1px solid var(--primary-color); /* added border color */
  
  }


  .hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .hero img {
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }

  .description {
    margin-top: 1rem;
  }

  footer {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    border-top: 1px solid #e5e7eb;
  }

  p{
    line-height: 2;
  }

  .image-fixed {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }

   /* Sidebar behavior on small screens */
   @media (max-width: 991.98px) {
    .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #0d6efd;
    padding-top: 4rem;
    z-index: 1050;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    }

    .navbar-collapse.collapsing {
    transform: translateX(100%);
    }

    .navbar-collapse.show {
    transform: translateX(0);
    }

    .navbar-nav .nav-link {
    color: white;
    padding: 1rem 1.5rem;
    }

    .navbar-toggler {
    z-index: 1060;
    }
}